body {
    background: #8CBEB2;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 130%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}

#wrapper {
    max-width: 800px;
    margin: auto;
}
@media (max-width: 800px) {
  body {
    width: 100%;
    margin: 0;
  }
  #wrapper {margin: 0;}
}
